# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Java  
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools       |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

1. Addition: `5 + 3` evaluates to `8`.
2. Subtraction: `10 - 4` evaluates to `6`.
3. Multiplication: `7 * 2` evaluates to `14`.
4. Division: `20 / 5` evaluates to `4.0`.
5. Exponentiation: `2 ** 3` evaluates to `8`.
6. Modulus: `10 % 3` evaluates to `1`.

In [13]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.  
- Identify commonly used libraries in Data Science.  
- Introduce open-source tools used for development in Data Science.  
- Demonstrate examples of evaluating arithmetic expressions in Python.  
- Convert units, such as minutes into hours, using Python expressions.

## Author(s)

Prasenjit